[Dd]ebug
/GalaxyATS/.vs/
/GalaxyATS/GalaxyATS/bin/Debug
/GalaxyATS/.vs/GalaxyATS/DesignTimeBuild/.dtbcache.v2
/GalaxyATS/.vs/GalaxyATS/DesignTimeBuild/.dtbcache.v2
/GalaxyATS/GalaxyATS/bin/Debug/net6.0/TestExecution.json
/GalaxyATS/.vs/ProjectEvaluation/galaxyats.metadata.v7.bin
/GalaxyATS/.vs/GalaxyATS/FileContentIndex/1508359d-f773-4f70-abee-b1ad55f4a1d1.vsidx
/GalaxyATS/.vs/GalaxyATS/FileContentIndex/5953226a-f363-4711-8833-72f8dc3118aa.vsidx
/GalaxyATS/.vs/GalaxyATS/FileContentIndex/8de1a17f-8cbd-4df0-ba59-7b76db3f7347.vsidx
/GalaxyATS/.vs/GalaxyATS/FileContentIndex/f1f55027-e5f8-4e6e-bbd0-0bcc144a85ba.vsidx
/GalaxyATS/.vs/GalaxyATS/v17/.futdcache.v2
/GalaxyATS/.vs/GalaxyATS/v17/.suo
/GalaxyATS/.vs/ProjectEvaluation/galaxyats.metadata.v7.bin
/GalaxyATS/.vs/ProjectEvaluation/galaxyats.projects.v7.bin
/GalaxyATS/GalaxyATS/bin/Debug/net6.0/GalaxyATS.dll
/GalaxyATS/GalaxyATS/bin/Debug/net6.0/GalaxyATS.pdb
/GalaxyATS/GalaxyATS/bin/Debug/net6.0/nunit_random_seed.tmp
/GalaxyATS/GalaxyATS/bin/Debug/net6.0/TestExecution.json
/GalaxyATS/GalaxyATS/obj/Debug/net6.0/GalaxyATS.dll
/GalaxyATS/GalaxyATS/obj/Debug/net6.0/GalaxyATS.pdb
/GalaxyATS/GalaxyATS/StepDefinitions/GalaxyConnectivityStepDefinitions.cs
