@{
    ViewData["Title"] = "Home";
}

@section AddedStyles
{
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
}

<div class="seGrid sidebar2">
    <div id="breadCrumbNav">
        <div id="breadCrumbContainer">
            <ul class="breadcrumb">
                <li><a href="/Home">Home</a></li>
                <li>Home</li>
            </ul>
        </div>
    </div>
</div>
<div class="seGrid content">
    <div id="homeWrapper">
        <h1>WELCOME TO THE AUTOMATION DASHBOARD</h1>
        <p> 
            <h3>Resources</h3>
            <ul>
                <li><a href="https://confluence.acclariscorp.com/x/9CYLBg">Test Framework Setup - Confluence</a></li>
                <li><a href="https://confluence.acclariscorp.com/x/AjsLBg">Automation Runner Settings - Confluence</a></li>
                <li><a href="https://confluence.acclariscorp.com/x/CxWhBg">Automation Runner Features - Confluence</a></li>
            </ul>
        </p>
    </div>
</div>
